/* CARD */
.card {
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

/* FORMS */
/* MORE COMPACT STYLE FOR INPUTS */
.form-control, .form-select {
  border-radius: 6px;
  padding: 0.4rem 0.75rem;
  font-size: 0.9rem;
  height: auto;
}

/* SPACE BETWEEN ELEMENTS */
.form-group {
  margin-bottom: 1rem;
}

/* BUTTONS */
.btn-primary {
  background-color: #b36a42;
  border-color: #b36a42;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.btn-primary:hover {
  background-color: #a85831;
  box-shadow: 0 0 10px rgba(179, 106, 66, 0.5);
}

.btn-secondary {
  background-color: #a0a0a0;
  border-color: #a0a0a0;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.btn-secondary:hover {
  background-color: #8e8e8e;
  box-shadow: 0 0 10px rgba(160, 160, 160, 0.5);
}

/* ADJUSTING THE WIDTH OF THE BUTTONS */
.w-45 {
  width: 45%;
}

/* SPACES BETWEEN LABELS */
.form-label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

/* MORE STYLISH PLACEHOLDER */
::placeholder {
  color: #888888;
  font-size: 0.9rem;
}
