.container {
  margin-top: 5% !important;
}

.card-img-top {
  max-height: 600px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.modal-body {
  padding: 20px;
}

.row {
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-lg-8,
  .col-lg-4 {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .card-img-top {
    max-height: 350px;
  }

  .card-body button {
    width: 100%;
    margin-top: 10px;
  }
}

.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}
