/* Contenedor con margen superior ajustado para evitar conflictos con la navbar */
.container {
  margin-top: 10% !important; /* Asegúrate de ajustar el valor si es necesario */
}

/* Imagen destacada */
.card-img-top {
  max-height: 600px;
  object-fit: cover;
  width: 100%;
}

/* Para el cuerpo de las tarjetas */
.card-body {
  padding: 20px;
}

/* Ajustar el tamaño del modal */
.modal-body {
  padding: 20px;
}

/* Responsividad: Ajustar el comportamiento de las columnas en pantallas pequeñas */
@media (max-width: 768px) {

  .row {
    flex-direction: column;
  }

  /* Imagen en pantalla pequeña debe ocupar el 100% */
  .col-lg-8,
  .col-lg-4 {
    max-width: 100%;
  }

  /* Ajustes para que la imagen no sea demasiado alta en pantallas pequeñas */
  .card-img-top {
    max-height: 350px;
  }

  /* El botón "Contactar" debe estar centrado en pantallas pequeñas */
  .card-body button {
    width: 100%;
    margin-top: 10px;
  }
}
