<div *ngIf="showLoginForm || showRegisterForm || showForgotPasswordForm" class="modal show d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg border-0">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ showLoginForm ? 'Iniciar sesión' : showForgotPasswordForm ? 'Restablecer contraseña' : 'Registrarse' }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeForms()"></button>
      </div>

      <!-- Componente de notificación -->
      <app-notifications [message]="errorMessage" [type]="notificationType"></app-notifications>

      <div class="modal-body">
        <!-- Formulario de Login -->
        <div *ngIf="showLoginForm">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" novalidate>
            <div class="form-floating mb-4">
              <input formControlName="nickname" type="text" class="form-control" [ngClass]="{'is-invalid': serverErrors?.nickname}" id="nickname" placeholder="Nickname"/>
              <label for="nickname">Nombre de usuario</label>
              <div class="invalid-feedback">
                {{ serverErrors?.nickname }}
              </div>
            </div>
            <div class="form-floating mb-4">
              <input formControlName="password" type="password" class="form-control" [ngClass]="{'is-invalid': serverErrors?.password}" id="password" placeholder="Contraseña" autocomplete="off"/>
              <label for="password">Contraseña</label>
              <div class="invalid-feedback">
                {{ serverErrors?.password }}
              </div>
            </div>
            <button type="submit" class="btn btn-custom btn-lg w-100">Iniciar sesión</button>
            <button type="button" class="btn btn-link" (click)="openForgotPasswordForm()">¿Olvidaste tu contraseña?</button>
          </form>
        </div>

        <!-- Formulario de Forgot Password -->
        <div *ngIf="showForgotPasswordForm">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">
            <div class="form-floating mb-4">
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="Correo electrónico" />
              <label for="email">Correo electrónico</label>
            </div>
            <button type="submit" class="btn btn-custom btn-lg w-100">Enviar enlace de restablecimiento</button>
          </form>
        </div>

        <!-- Formulario de Registro -->
        <div *ngIf="showRegisterForm">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
            <!-- Nombre -->
            <div class="form-floating mb-4">
              <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nombre" />
              <label for="name">Nombre</label>
              <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
                El nombre solo puede contener letras y tildes.
              </div>
            </div>

            <!-- Apellido -->
            <div class="form-floating mb-4">
              <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="Apellido" />
              <label for="lastname">Apellido</label>
              <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched" class="text-danger">
                El apellido solo puede contener letras y tildes.
              </div>
            </div>

            <!-- Nickname -->
            <div class="form-floating mb-4">
              <input formControlName="nickname" type="text" class="form-control" id="nickname" placeholder="Nickname" />
              <label for="nickname">Nickname</label>
              <div *ngIf="registerForm.get('nickname')?.invalid && registerForm.get('nickname')?.touched" class="text-danger">
                El nickname solo puede contener caracteres alfanuméricos.
              </div>
            </div>

            <!-- Email -->
            <div class="form-floating mb-4">
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email" />
              <label for="email">Email</label>
              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                Por favor, introduce un email válido.
              </div>
            </div>

            <!-- Contraseña -->
            <div class="form-floating mb-4">
              <input formControlName="password" type="password" class="form-control" id="password" placeholder="Contraseña" autocomplete="off"/>
              <label for="password">Contraseña</label>
              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
                La contraseña debe contener al menos 8 caracteres alfanuméricos y distingue entre mayúsculas y minúsculas.
              </div>
            </div>

            <!-- Confirmar Contraseña -->
            <div class="form-floating mb-4">
              <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña" autocomplete="off"/>
              <label for="confirmPassword">Confirmar Contraseña</label>
              <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger">
                Las contraseñas no coinciden.
              </div>
            </div>

            <button type="submit" class="btn btn-custom btn-lg w-100" [disabled]="registerForm.invalid">Registrarse</button>
          </form>
        </div>
      </div>

      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="closeForms()">Cerrar</button>
        <!-- Botones para cambiar entre formularios -->
        <button *ngIf="showLoginForm" type="button" class="btn btn-link" (click)="openRegisterForm()">¿No tienes cuenta? Regístrate</button>
        <button *ngIf="showRegisterForm" type="button" class="btn btn-link" (click)="openLoginForm()">¿Ya tienes cuenta? Inicia sesión</button>
        <button *ngIf="showForgotPasswordForm" type="button" class="btn btn-link" (click)="openLoginForm()">Volver al inicio de sesión</button>
      </div>

    </div>
  </div>
</div>
