#imageCarousel {
  height: fit-content;
}

.fondo-blur{
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,211,154,0.8155637254901961) 57%);
}

/* GENERAL SETTINGS FOR THE COMMENT CARD */
.comment-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #b8b0b00e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
}

.comment-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* PROFILE IMAGEN CONTAINER */
.comment-img-container {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.comment-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #ad7115;
  object-fit: contain !important;
  object-position: center !important;
}

/* ADJUST TEXT SIZE */
.comment-card h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.comment-card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #6c757d;
}

/* SETTINGS FOR DATE AND OTHER DETAILS */
.comment-card .text-muted {
  font-size: 0.85rem;
  color: #adb5bd;
}

/* SPACING BETWEEN COMMENTS */
.mb-3 {
  margin-bottom: 1.5rem !important;
}

/* BOTTON */
.btn-primary {
  background-color: #c26c1b;
  border-color: #c26c1b;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #b65f15;
  border-color: #b65f15;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.animate__animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}


@media (max-width: 768px) {
  .comment-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .comment-img-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .comment-img {
    width: 80px;
    height: 80px;
  }

  .comment-card h5 {
    font-size: 1rem;
  }

  .comment-card p {
    font-size: 0.85rem;
  }
}


@media (max-width: 576px) {
  .comment-img {
    width: 60px;
    height: 60px;
  }

  .comment-card h5 {
    font-size: 0.95rem;
  }

  .comment-card p {
    font-size: 0.8rem;
  }

  .btn-primary {
    font-size: 0.9rem;
  }

  .btn-primary {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
}
