/* Ajuste del tamaño del carrusel */
#imageCarousel {
  max-height: 300px;
}

.carousel-item img {
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

/* Ajustar padding y márgenes */
.card {
  border-width: 1px;
  border-color: black;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-bottom: 1.5rem; /* Espacio ajustado */
}

.comment-card, .opinion-card {
  padding: 1rem;
}

/* Ajustar el tamaño del texto dentro del contenedor de comentarios */
.comment-card h5 {
  font-size: 1rem; /* Reducir tamaño del nombre del usuario */
  font-weight: bold; /* Opcional, para mantener visibilidad */
}

.comment-card p {
  font-size: 0.875rem; /* Reducir tamaño del texto de los comentarios */
  line-height: 1.4; /* Ajustar el espaciado entre líneas */
}

textarea.form-control {
  min-height: 90px; /* Altura compacta para el formulario */
}

/* Animaciones de entrada */
.animate__animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@media (max-width: 992px) {
  .col-lg-8, .col-lg-4, .col-lg-6 {
    margin-bottom: 1.5rem;
  }
}
