<header class="text-center my-4">
  <h1 class="mb-3 animate__animated animate__fadeIn">Bienvenido a Manopata</h1>
  <h3 class="mb-3">Encuentra a tu compañero perfecto!</h3>
  <p class="text-center h5">Conectamos a mascotas necesitadas con sus nuevas familias. Explora las historias de nuestros adorables amigos peludos y encuentra a tu compañero perfecto. Nuestro objetivo es hacer del mundo un lugar mejor, una adopción a la vez.</p>
</header>

<section class="adoptables my-5">
  <div class="container">
    <h2 class="text-center mb-4">Conoce a Nuestros Amigos</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card h-100 animate__animated animate__fadeIn">
          <img src="https://imgs.search.brave.com/GkEE36dFghiJ9Iz1oldaHK1wFXN2DWJT6YM00lK3C5E/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQ1/MTkyMDA2L2VzL2Zv/dG8vcGVycm8tY29u/LXVuYS1ncmFuLWdy/aW4uanBnP3M9NjEy/eDYxMiZ3PTAmaz0y/MCZjPXQtZjFKOFVB/R0dCM1NRdXdZbXAt/cjFiZ1lfMDdTcHN0/WnB5RE5uQzNick09" class="card-img-top" alt="Pet 1">
          <div class="card-body text-center">
            <h5 class="card-title">Firulais</h5>
            <p class="card-text">Un perro cariñoso y juguetón en busca de un hogar.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 animate__animated animate__fadeIn">
          <img src="https://imgs.search.brave.com/_S2WHNXIDsFzsvxr558O12FOM11Snx9emB3uM9yTi0w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/cGV0ZGFybGluZy5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTQvMDUvY3VhbnRv/LXZpdmUtdW4tZ2F0/by1jYWxsZWplcm8u/anBn" class="card-img-top" alt="Pet 2">
          <div class="card-body text-center">
            <h5 class="card-title">Michi</h5>
            <p class="card-text">Una gata tranquila y dulce que necesita amor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
