.notifications {
  position: absolute;
  top: -50px; /* IT APPEARS JUST ABOVE THE FORM */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.alert-success {
  background-color: #5cb85c;
}

.alert-error {
  background-color: #d9534f;
}

.alert-info {
  background-color: #5bc0de;
}

.alert-warning {
  background-color: #f0ad4e;
}
