
.navbar-brand {
  font-weight: bold;
  color:rgb(194, 108, 27) !important;
  margin-right: 40px;
  font-size: x-large;
  active-box-shadow: #000;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
  margin-right: 25px;
}

.nav-link:hover {
  color:rgb(194, 108, 27) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.ms-3 {
  margin-left: 1rem;
}

.ms-auto {
  margin-left: auto !important;
}

.me-auto {
  margin-right: auto !important;
}

 /* CUSTOM */

.custom-color {
  background-color: rgb(189, 126, 67) !important;
  border-color:  rgb(189, 126, 67);
}

.custom-color:hover {
  background-color: rgb(218, 159, 103) !important;
}

.custom-border {
  border-color:rgb(194, 108, 27);
  color: rgb(194, 108, 27);
}

.custom-border:hover {
  color: rgb(134, 74, 17);
  border-color: rgb(134, 74, 17) !important;
}

#open-close-menu {
  z-index: 10;
}
