
<nav class="navbar navbar-expand-lg" style="background-color: rgb(230, 211, 165);">
  <a class="navbar-brand ms-3" href="/">
    <img src="https://imgs.search.brave.com/cXYFBBFcXWwYYrFTgKFn_EnfkwVa3hCdeQQwPT9hso8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudmV4ZWxzLmNv/bS9tZWRpYS91c2Vy/cy8zLzMyMzc3OC9p/c29sYXRlZC9wcmV2/aWV3LzZhNDQzMTY1/YjI0MWUwYmM3ZDQ4/ZTA4M2U3OGQ5Yzcx/LWxsYW1hdGl2YXMt/bWFuY2hhcy1hbmlt/YWwtcHJpbnQtZW4t/bWFyY28tY29uLWZv/cm1hLWRlLXphcnBh/LnBuZw" alt="logo" width="50" height="50" class="d-inline-block align-text-top">
    MANOPATA
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-4 mb-lg-0 h5">
      <li class="nav-item">
        <a class="nav-link " href="/adoptions">Adopciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/protectors">Protectoras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contáctanos</a>
      </li>
    </ul>
    <div class="d-flex">
      <button class="btn btn-primary custom-color me-2" data-bs-toggle="modal" data-bs-target="#iniciarSesionModal">Iniciar sesión</button>
      <a href="#" class="btn btn-outline custom-border me-4">Registrarse</a>
    </div>
  </div>
</nav>
