<nav class="navbar navbar-expand-lg" style="background-color: rgb(230, 211, 165);">
  <a class="navbar-brand ms-5" href="/">
    <img src="https://imgs.search.brave.com/cXYFBBFcXWwYYrFTgKFn_EnfkwVa3hCdeQQwPT9hso8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudmV4ZWxzLmNv/bS9tZWRpYS91c2Vy/cy8zLzMyMzc3OC9p/c29sYXRlZC9wcmV2/aWV3LzZhNDQzMTY1/YjI0MWUwYmM3ZDQ4/ZTA4M2U3OGQ5Yzcx/LWxsYW1hdGl2YXMt/bWFuY2hhcy1hbmlt/YWwtcHJpbnQtZW4t/bWFyY28tY29uLWZv/cm1hLWRlLXphcnBh/LnBuZw" alt="logo" width="50" height="50" class="d-inline-block align-text-center">
    MANOPATA
  </a>
  <button id="open-close-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-4 mb-lg-0 h5">
      <li class="nav-item">
        <a class="nav-link" href="/" id="first-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/adoptions">Adopciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/protectors">Protectoras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/opinions">Testimonios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contáctanos</a>
      </li>
    </ul>

    <div class="d-flex flex-wrap align-items-center">
      <!-- Mostrar imagen de perfil solo si el usuario está logueado -->
      <img *ngIf="isLoggedIn && profileImageUrl" [src]="profileImageUrl" alt="Imagen de perfil" class="profile-image me-2">

      <!-- Botón de notificaciones -->
      <div *ngIf="isLoggedIn" class="nav-item dropdown me-4">
        <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          🛎️ Notificaciones <span *ngIf="unreadCount > 0" class="badge bg-danger">{{ unreadCount }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
          <li *ngIf="notifications.length === 0" class="dropdown-item text-muted">No tienes nuevas notificaciones</li>
          <li *ngFor="let notification of notifications" class="dropdown-item">
            <a href="#" class="d-block">
              <strong>{{ notification.sender.nickname }}:</strong> {{ notification.bodyText }}
              <small class="d-block text-muted">{{ notification.sentDate | date: 'short' }}</small>
            </a>
          </li>
        </ul>
      </div>

      <div *ngIf="isLoggedIn" class="nav-item dropdown me-4">
        <a class="nav-link dropdown-toggle welcome-message fade-in" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          👋 ¡Bienvenid&#64; {{ nickname }}!
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" [routerLink]="['/edit-profile']">Editar Perfil</a></li>
          <li><a class="dropdown-item text-danger" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>

      <button *ngIf="!isLoggedIn" class="btn btn-primary me-2 mb-2" (click)="openLoginForm()" aria-label="Iniciar sesión">Iniciar sesión</button>
      <button *ngIf="!isLoggedIn" class="btn btn-outline custom-border me-4 mb-2" (click)="openRegisterForm()" aria-label="Registrarse">Registrarse</button>
    </div>
  </div>
</nav>
