<!-- <header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">ManoPata</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Adopciones</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Tablón de anuncios</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Protectoras</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contacto</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#iniciarSesionModal">Iniciar sesión</button>
        <a href="#" class="btn btn-outline-primary">Registrarse</a>
      </div>
    </div>
  </div>
</header>

<div class="modal fade" id="iniciarSesionModal" tabindex="-1" aria-labelledby="iniciarSesionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="iniciarSesionModalLabel">Iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu correo electrónico con nadie más.</small>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="link-primary">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
</div> -->

<router-outlet />
