<header class="text-center my-4">
  <h1 class="mb-3 animate__animated animate__fadeIn">Página No Encontrada</h1>
  <h3 class="mb-3">Lo sentimos, no encontramos lo que buscabas.</h3>
  <p class="text-center h5">Es posible que la dirección que ingresaste esté incorrecta o que la página haya sido eliminada.</p>
  <button (click)="goHome()" class="btn btn-primary btn-lg mt-4 animate__animated animate__bounceIn">Volver a Inicio</button>
</header>

<section class="hero-image position-relative" style="background-image: url('https://imgs.search.brave.com/86yNRaRHVoS1QUFb2FzOWoFl9nvnGdeVsK9Ef2svGpE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/bXVqZXItc29zdGVu/aWVuZG8tYWRvcHRh/cm1lLXNpZ25vLXBl/cnJvLXJlc2NhdGVf/MjMtMjE0ODY4Mjk0/NC5qcGc_c2l6ZT02/MjYmZXh0PWpwZw'); height: 400px; background-size: cover; background-position: center;">
  <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center" style="background: rgba(0, 0, 0, 0.5);">
    <div class="text-center text-white">
      <h2 class="display-4 animate__animated animate__fadeInDown">¡Regresa a explorar!</h2>
      <p class="lead animate__animated animate__fadeInUp">Nos encantaría ayudarte a encontrar a tu compañero perfecto.</p>
    </div>
  </div>
</section>
